/* Container principal */
.ContainerMestre {
  max-width: 100vw;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #000080;
  background-color: #fff6f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Seção do perfil */
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
}

.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.titulo h1 {
  font-size: 40px;
  color: #000080;
}

.logo {
  height: 120px;
  width: auto;
  margin-left: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-start; 
  gap: 20px; /* Maior espaço entre os botões */
  margin-top: 20px; /* Espaço superior */
}

.button, .button2 {
  background-color: #ff7f2a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  width: 150px;
  height: 40px;
  font-size: 14px;
  margin: 10px;
}

.button2 {
  background-color: #ffcc00;
  color: #000080;
}

.button:hover, .button2:hover {
  transform: scale(1.05);
}

/* Botão Sair */
.buttonSair {
  background-color: #d9534f; /* Cor diferenciada para o botão Sair */
  color: #fff;
}

.infos h3 {
  font-size: 20px;
  color: #000080;
}

.infos p {
  font-size: 16px;
  color: #666;
}

/* Cards */
.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border-left: 6px solid #ffcc00;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}

.card p span {
  font-weight: bold;
  color: #000080;
}

.card p .value {
  font-weight: normal;
  color: #444;
}

.recommendation {
  font-weight: bold;
  color: #ff7f2a;
  background-color: #ffcc00;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
}
